<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>User list</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
        <th>Age</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.id}">ID</td>
        <td th:utext="${user.firstName}">Name</td>
        <td th:utext="${user.country}">Country</td>
        <td th:utext="${user.age}">Age</td>
        <td>

            <form th:action="@{/users/{id}/edit(id=${user.getId()})}">
                <button type="submit"> Edit</button>
            </form>

        </td>
        <td>

            <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
                <button type="submit"> Delete</button>
            </form>

        </td>
    </tr>
</table>

<!--<a href="users/new">Add</a>-->
<br/>
<div>
    <input type="button" value="Add" onclick="window.location.href = 'users/new'">
</div>

</body>
</html>